# Maven
target/

# VSCode
.vscode/
.devcontainer/

# Eclipse
.settings/
.classpath
.project

# ItelliJ IDEA
.idea
*.iml

# Collection
cord-19_2020-07-16.tar.gz
cord-19_2020-07-16*

Index-EnglishAnalyzer/
Index-StandardAnalyzer/
Index-*/

2020-07-16/
.DS_Store